.content {
  left: 0;
  bottom: 0;
  top: 6vh;
  width: 99.7vw;
  position: absolute;
  height: 93.4vh;
  border: solid;
  color:black;
  background-image: url(../../assets/images/bg-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw, 100vh
}

.reg {
  margin-top: 10vh;
  color: white;
  text-align: center;
  border: solid;
  border-radius: 20px;
  border-width: 2px;
  margin-left: 25vw;
  margin-right: 25vw;
}

.reg-info {
  font-size: 3vw;
  text-align: center;
}

input {
  color: black;
  font-size: 3vw;
  position: center;
  background-blend-mode: soft-light;
  margin-bottom: 2vh;
}
