html, body {
  height: 100%;

}


.banner {
  font-size: 2vh;
  color: white;
  background-color:lightslategray;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.desc {
  color:lightgray;
  font-size: 200%;
  text-align: center;
  border: solid;
  position: relative;
  width: 99.7vw;
  top: 0px;
  bottom: 0;
  border-color:black;
  height: 93.4vh;

}


.reg {
  font-size: 200%;
  text-align: center;
  float: right;
  width: 19%;
  background-color: lightblue;
  border: solid;
  border-radius: 20px;
  height: calc(100vh - 11vh);
  overflow: hidden;
  display:flex;
}


.content {
  left: 0;
  bottom: 0;
  top: 6vh;
  width: 100vw;
  position: absolute;
  height: 94vh;
  background-image: url(../../assets/images/bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw, 100vh
}

