.body{

}


.banner {
  font-size:14px;
  color: white;
  background-color: grey;
  width:100%;
  position:fixed;
  top:0;
  left:0
}


.reg {
  font-size: 40px;
  float: left;
  padding-left:15%;
  padding-right:15%;
  padding-bottom:42%;
  border: solid;
}

.content{
  font-size: 40px;
  text-align:center;
  background-color:lightblue;
  float:right;
  border:solid;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:50%
}

