.content {
  left: 0;
  bottom: 0;
  top: 6vh;
  width: 99.7vw;
  position: absolute;
  height: 93.4vh;
  border: solid;
  background-image: url(../../assets/images/bg-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw, 100vh
}

.reg {
  color: white;
  text-align: center;
  font-size: 250%;
  border: solid;
  width: 50vw;
  margin-left: 25vw;
  padding:0;
}

.reg-info{
    border:solid;
    text-align:center;
}
input {
  color: black;
  text-align: center;
  font-size: 50%;
  border: solid;
  width: 15vw;
  
}
