<div class="content">
  <div class="reg">


    <div class="reg-info">
      <ul style="list-style-type:none">
        <p>Create an account</p>
        <li><input id="username" type="text" name="Username" placeholder="Username" /></li>

        <li><input id="password" type="text" name="Password" placeholder="Password" /></li>

        <li><input id="email" type="text" name="Email" placeholder="example@test.com" /></li>

      </ul>
      <input id="submit" type="button" name="Submit" value="Register" />

    </div>

  </div>
</div>
